/* Genel stil ayarları */
body {
  font-family: Arial, sans-serif;
  margin: 0;
  padding: 0;
  

}

/* Main container should cover the full height */
.form-container {
  display: flex;
  justify-content: center; /* Yatayda ortala */
  align-items: center; /* Dikeyde ortala */
  width: 100%;
  min-height: 100vh; /* Sayfanın tamamını kapsasın */
  border-radius: 0rem;
  border: 1px solid #e5e7eb;
  background-color: rgba(217, 217, 217, 0.17);
  backdrop-filter: blur(24px);
  box-shadow: 0 20px 25px -5px rgba(0, 0, 0, 0.1), 0 10px 10px -5px rgba(0, 0, 0, 0.04);
  
}
.main {
  display: flex;
  justify-content: center; /* Yatayda ortala */
  width: 100%;
  min-height: 100vh;
  

}
.form {
  position: relative;
  display: flex; /* Flexbox kullan */
  flex-direction: column; /* Dikey hizalama */
  align-items: center; /* Elemanları ortala */
  justify-content: center; /* Dikey ortalama */
  width: 100%; /* Full width */
  height: 100%;
  max-width: 50%; /* Maksimum genişlik sınırı kaldırıldı */
  max-height: 90%; /* Maksimum genişlik sınırı kaldırıldı */
  padding: 5rem;
  border-radius: 1rem;
  border: 1px solid #e5e7eb;
  background-color: rgba(217, 217, 217, 0.658);
   backdrop-filter: blur(24px);
  box-shadow: 0 20px 25px -5px rgba(0, 0, 0, 0.1), 0 10px 10px -5px rgba(0, 0, 0, 0.04);
  gap: 15px;
  margin-top: 0px;
 
}

/* Buton stili */
button {
  display: block;
  margin: 20px auto;
  padding: 10px 20px;
  font-size: 16px;
  background-color: #007bff;
  color: white;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.3s;
}

.clip-path {
  position: absolute;
  width: 100%;
  height: 100%;
  background:  rgba(255, 255, 255, 0.377); /* Green background to match login-left */
  clip-path: polygon(0 0, 100% 0, 0 100%, 0 100%); /* Clipping shape */
  z-index: 0;
}

/* Main Layout */
.login-container {
  display: flex;
  justify-content: start; /* Yatayda ortala */
  width: 100%;
  min-height: 100vh;
  
}

/* Sosyal Giriş Butonları */
.social-login {
  display: flex;
  flex-direction:row;
  gap: 10px;
  width: auto;
  max-width: 300px;
  margin-top: 1rem;
}

.social-btn {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 10px;
  width: auto;
  padding: 10px;
  border-radius: 15px;
  font-size: 14px;
  font-weight: 500;
  border: none;
  cursor: pointer;
  transition: background-color 0.3s ease-in-out;
}

.google {
  background-color: rgba(0, 0, 0, 0.178);;
  color: white;
}

.google:hover {
  background-color: #c62828;
}

.facebook {
  background-color: rgba(0, 0, 0, 0.178);;
  color: white;
}

.facebook:hover {
  background-color: #135cb3;
}

.apple {
  background-color: rgba(0, 0, 0, 0.178);;
  color: white;
}

.apple:hover {
  background-color: #181818;
}

/* Ayırıcı Çizgi */
.divider {
  display: flex;
  align-items: center;
  width: 100%;
  max-width: 300px;
  margin: 20px 0;
  text-align: center;
  color: #555;
}

.divider::before,
.divider::after {
  content: "";
  flex: 1;
  height: 1px;
  background: #ccc;
  margin: 0 10px;
}

/* Sol Bölüm */
.login-left {
  background-color: rgba(22, 163, 74, 0.897); /* Same green color as the right side */
  position: relative;
  width: 50%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: start;
  padding: 0rem;
}
.login-left-clip-box {
  position: absolute;
  width: 100%;
  height: 100%;
  background: rgb(217, 217, 217,100); /* Green background to match login-left */
  clip-path: polygon(0 0, 100% 0, 50% 100%, 0 100%); /* Clipping shape */
  z-index: 0;
}
/* Logo */
.logo-container {
  display: flex;
  align-items: center;
  gap: 0.5rem;
  padding: 0.25rem;
  z-index: 1;
  margin-top: 10px;
  margin-bottom: 10px;
  /* Arka plan resmi olarak ekleme */
  background-image: url("/images/logoWhite.png");
  background-color: #181818;
  background-size: contain; /* Resmin boyutu tamamen görünür olacak şekilde ayarlanır */
  background-repeat: no-repeat; /* Tekrarlamayı önler */
  background-position: center; /* Resmi ortalar */
  width: 90px; /* Logo boyutunu belirle */
  height: 90px; /* Logo boyutunu belirle */
  border: 1px;
  border-radius:  10%;
  box-shadow: 0 20px 25px -5px rgba(0, 0, 0, 0.1), 0 10px 10px -5px rgba(0, 0, 0, 0.04);
}

.form-title {
  font-size: 2rem; /* Daha büyük başlık */
  font-weight: bold;
  margin-bottom: 5px; /* Aşağıdaki inputlardan biraz daha uzaklaşsın */
  color:#181818; /* Daha koyu renk */
  text-align: center;
}

/* Login Formu */
.login-form {
  position: relative;
  display: flex; /* Flexbox kullan */
  flex-direction: column; /* Dikey hizalama */
  align-items: center; /* Elemanları ortala */
  justify-content: center; /* Dikey ortalama */
  width: 100%; /* Full width */
  height: 100%; /* Full width */
  max-width: 70%; /* Maksimum genişlik sınırı kaldırıldı */
  max-height: 80%; /* Maksimum genişlik sınırı kaldırıldı */
  padding: 4rem;
  border-radius: 1rem;
  border: 1px solid #e5e7eb;
  background-color: rgba(217, 217, 217, 0.17);
  backdrop-filter: blur(24px);
  box-shadow: 0 20px 25px -5px rgba(0, 0, 0, 0.1), 0 10px 10px -5px rgba(0, 0, 0, 0.04);
  gap: 15px;
  margin-top: 0px;
  
}

/* Düzeltilmiş Input Wrapper */
.input-wrapper {
  position: relative;
  width: 100%;
  display: flex;
  align-items: center;
 
}
.input-otp-wrapper {
  display: flex;
  justify-content: center;
  gap: 10px; /* Kutular arası boşluk */
}
.input-otp {
  width: 50px; /* Kare formu için genişlik */
  height: 50px; /* Kare formu için yükseklik */
  text-align: center;
  font-size: 20px;
  border: 2px solid #ccc;
  border-radius: 8px;
  outline: none;
  transition: all 0.2s ease-in-out;
}
.input-otp-wrapper input:focus {
  border-color: #007BFF; /* Odaklandığında mavi çerçeve */
  box-shadow: 0 0 5px rgba(0, 123, 255, 0.5);
}

.input-field {
  width: 100%;
  max-width: 100%; /* İstersen maksimum genişlik belirleyebilirsin */
  padding: 10px 60px 10px 10px; /* Sağda boşluk bırak */
  text-align: center; /* Yazıyı ortalar */
  margin-bottom: 10px; /* Alt boşluk ekler */
  border-radius: 1rem;
  border: 0px solid #808080;
  background-color: rgba(0, 0, 0, 0.178);
  backdrop-filter: blur(24px);
  box-shadow: 0 20px 25px -5px rgba(0, 0, 0, 0.1), 0 10px 10px -5px rgba(0, 0, 0, 0.04);
}

/* Password Toggle */
.password-toggle {
  position: absolute;
  right: 0px;
  top: 45%;
  transform: translateY(-50%);
  background: none;
  border: none;
  cursor: pointer;
  color: rgba(2, 2, 2, 0.603);
  display: flex;
  align-items: center;
  justify-content: center;
  
  
}
.mail-toggle {
  position: absolute;
  right: 15px;
  top: 45%;
  transform: translateY(-50%);
  background: none;
  border: none;
  cursor: pointer;
  color: rgba(2, 2, 2, 0.603);
  display: flex;
  align-items: center;
  justify-content: center;
}

.cointainer {
  display: flex;
  justify-content: space-between; /* Sağ ve sola hizala */
  align-items: center; /* Dikeyde ortala */
  width: 100%;
  max-width: 100%;
  flex-wrap: nowrap; /* Aynı satırda kalsın */
}

/* "Şifremi Unuttum" yazısının alt kısma yerleştirilmesi */
.forget-password {

  left: 0;
  font-size: 14px;
  color: rgba(0, 0, 0, 0.7);
  cursor: pointer;
}

/* "Şifremi Unuttum" yazısının alt kısma yerleştirilmesi */
.remember-me-container {

  font-size: 14px;
  color: rgba(0, 0, 0, 0.7);
  cursor: pointer;

  
 
}
.remember-me-checkbox {
  width: 15px;
  height: 15px;
  border-radius: 4px;
  border: 2px solid #888;
  outline: none;
  transition: all 0.3s ease;
  margin-right: 8px; /* Checkbox ile label arasında boşluk bırakma */
}

/* Change the border color on focus */
.remember-me-checkbox:focus {
  border-color: #007bff;
  box-shadow: 0 0 5px rgba(0, 123, 255, 0.5);
}

/* Style when checked */
.remember-me-checkbox:checked {
  background-color: #007bff;
  border-color: #007bff;
  position: relative;
}

/* Add checkmark or custom indicator */
.remember-me-checkbox:checked::after {
  content: "✔";
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  color: white;
  font-size: 12px;
}




/* Login Button */
.login-button {
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center; /* Yazıyı ortalar */
  width: 100%;
  height: 11%;
  max-width: 100%; /* İstersen maksimum genişlik belirleyebilirsin */
  max-height:100% ;
  padding: 0.75rem;
  margin-top: 3rem;
  margin-bottom:  1rem;
  color: white;
  font-weight: 500;
  transition: background-color 0.2s;
  border-radius: 1rem;
  border: 1px solid #808080;
  background-color: #181818;
  backdrop-filter: blur(24px);
  box-shadow: 0 20px 25px -5px rgba(0, 0, 0, 0.1), 0 10px 10px -5px rgba(0, 0, 0, 0.04);
}

.login-button:hover {
  background-color: #16161696;
}

/* Sign Up Button */
.sign-up-button {
   width: 25%;
  padding: 0.5rem;
  border-radius: 2rem;
  background-color: #181818;
  color: white;
  font-weight: 200;
  transition: background-color 0.2s;
}

.sign-up-button:hover {
  background-color: #16161696;
}


.signup-container {
   display: flex;
  align-items: center;
  justify-content: center;
  text-align: center; /* Yazıyı ortalar */
  width: 100%;
  max-width: 100% ; /* İstersen maksimum genişlik belirleyebilirsin */
  padding: 5px 5px 5px 5px; /* Sağda boşluk bırak */
  text-align: center; /* Yazıyı ortalar */
  border-radius: 1rem;
  border: 0px solid #808080;
  background-color: rgba(0, 0, 0, 0.178);
  backdrop-filter: blur(24px);
  box-shadow: 0 20px 25px -5px rgba(0, 0, 0, 0.1), 0 10px 10px -5px rgba(0, 0, 0, 0.04);
  
}
.signup-text {
  font-size: 1rem;
  font-weight: bold;
  color: #707070; /* Daha soluk gri ton */
  text-align: center;
  
}

/* Link (Sign Up) rengini koyulaştırma */
.signup-link {
  color: #181818; /* Koyu renk */
  font-weight: bold;
  text-decoration: none; /* Alt çizgiyi kaldır */
  margin-left: 5px;
}

/* Link üzerine gelince hafif koyulaştır */
.signup-link:hover {
  color: #16161696;
}

/* Sağ Bölüm */
.login-right {
  background-color: rgba(22, 163, 74, 0.897); /* Same green color as the left side */
  flex-direction: column;
  display: flex;
  align-items: center;
 
  width: 50%;
}

/* SVG Görseli */
.svg {
  width: 390px;
  height: 465px;
  display: flex;
  align-items: flex-end; /* Aligns to the bottom */
  justify-content: center;
  margin-top: 300px; /* Pushes the SVG to the bottom */
}

/* Modal Stilleri */
.custom-modal {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 50%;
  max-width: 400px;
  max-height: 300px;
  padding: 20px;
  border-radius: 20px;
  background-color: white;
  font-size: 14px;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  text-align: center;
  overflow: auto;
}

.custom-overlay {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(0, 0, 0, 0.7);
  z-index: 1000;
}

.modal-message {
  font-size: 16px;
}

.modal-message.success {
  color: green;
}

.modal-message.error {
  color: red;
}
